<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="settings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="TemplateOfKeys" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="AppAdminAcct" value="SSO Administrators"/>
    <add key="ContactInfo" value="BizTalkAdmin@SandroPereira.com"/>
    <add key="AppUserAcct" value="SSO Affiliate Administrators"/>
  </appSettings>
  <TemplateOfKeys>
    <add key="testkey1" value="value1"/>
    <add key="testkey2" value="value2"/>
    <add key="testkey3" value="value3"/>
    <add key="testkey4" value="value4"/>
  </TemplateOfKeys>
</configuration>
